<mat-card>
  <form class="example-form" [formGroup]="form">
    <div >
      <h1>Update the post</h1>
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input type="text" 
      matInput 
      formControlName="title">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Content</mat-label>
      <input type="text" 
      matInput 
      formControlName="content">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Author</mat-label>
      <input type="text" 
      matInput 
      formControlName="author" >
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date</mat-label>
      <input type="text" 
      matInput 
      formControlName="date">
    </mat-form-field>
    <button mat-raised-button class="button-login" (click)="addData()">Load post</button>
    <button mat-raised-button class="button-login" (click)="upload(id)">Send updates</button>
    <p>{{id}}</p>
    </div>
    
  </form>
</mat-card>
