<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['admin','posts']">Admin board</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-success" [routerLink]="['auth','sigh-in']" *ngIf="!isAuth">sigh in</button>
        <p class="btn" *ngIf="isAuth">{{ email }}</p>
        <button class="btn btn-outline-success" (click)="logout()" *ngIf="isAuth">log out</button>
      </form>
    </div>
  </div>
</nav>
