<div *ngIf="post">
  <h2 class="post-title">{{ post.title }}</h2>
   <span class="post-author">{{ post.author }}</span>
 <div class="post-content" [innerHtml]="post.content"></div>
 <span class="post-date">{{ post.date }}</span>
</div>
