<mat-card>
  <form class="example-form" [formGroup]="form">
    <div >
      <h1>Log-in</h1>
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" 
      matInput 
      formControlName="email"
      placeholder="Ex. pat@example.com">
      <mat-error *ngIf="form.get('account.email')?.hasError('email') && !form.get('account.email')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.get('account.email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="email" 
      matInput 
      formControlName="password"
             placeholder="Ex. pat@example.com">
      <mat-error *ngIf="form.get('account.password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button class="button-login" (click)="submit()">Log in</button>
    </div>
    
  </form>
</mat-card>