  <div *ngFor= "let post of posts" class="post">
     <h2 class="post-title" [routerLink]="[post.id]">{{ post.title }}</h2>
      <span class="post-author">{{ post.author }}</span>
    <div class="post-content" [innerHtml]="post.content"></div>
    <span class="post-date">{{ post.date }}</span>
  </div>

