<mat-card>
  <form class="example-form" [formGroup]="form">
    <div >
      <h1>Create the post</h1>
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input type="text" 
      matInput 
      formControlName="title">
      <!-- <mat-error *ngIf="form.get('account.email')?.hasError('email') && !form.get('account.email')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.get('account.email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Content</mat-label>
      <input type="text" 
      matInput 
      formControlName="content">
      <!-- <mat-error *ngIf="form.get('account.password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Author</mat-label>
      <input type="text" 
      matInput 
      formControlName="author">
      <!-- <mat-error *ngIf="form.get('account.password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date</mat-label>
      <input type="text" 
      matInput 
      formControlName="date">
      <!-- <mat-error *ngIf="form.get('account.password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <button mat-raised-button class="button-login" (click)="submit()">Create</button>
    </div>
    
  </form>
</mat-card>